In [ ]:
#Pre-lecture HW

In [16]:
#Dataset
import pandas as pd

data = {
    'Name': ['Linda', 'Charlie', 'Katherine', 'Hermione'],
    'Height': [166, 175, 155, 160],
    'Hobby': ['Singing', 'Singing', 'Drawing', 'Reading']
}

df = pd.DataFrame(data)
print(df)

        Name  Height    Hobby
0      Linda     166  Singing
1    Charlie     175  Singing
2  Katherine     155  Drawing
3   Hermione     160  Reading

In [15]:
#Number of rows and columns
num_rows, num_columns = df.shape

print(f"The DataFrame has {num_rows} rows and {num_columns} columns.")

The DataFrame has 4 rows and 3 columns.

In [ ]:
#Definition for Observations:
#In this DataFrame, observations are the records in this dataset. 
#One of the observations in the dataset is [Linda, 166, Singing].

In [ ]:
#Definition for Variables:
#In this DataFrame, variables can vary and lead to get different sets of observations finally.
#Variables in my DataFrame are: Name, Height and Hobby.

In [9]:
#Summary 1
df.describe(include='object')

         Name    Hobby
count       4        4
unique      4        3
top     Linda  Singing
freq        1        2

In [11]:
#Summary 2
df['Name'].value_counts()

Name
Linda        1
Charlie      1
Katherine    1
Hermione     1
Name: count, dtype: int64

In [13]:
#Summary 2
df['Hobby'].value_counts()

Hobby
Singing    2
Drawing    1
Reading    1
Name: count, dtype: int64

In [14]:
#Summary 3
df.describe()

           height
count    4.000000
mean   164.000000
std      8.602325
min    155.000000
25%    158.750000
50%    163.000000
75%    168.250000
max    175.000000

In [ ]:
#The difference between df.shape and df.describe()
#df.shape gives the number of rows and columns of my dataset.
#df.describe gives more details and analysis of distribution of the numeric data in my dataset, like mean and standard deviation.

In [ ]:
#The difference between attribute and method
#attribute: always represents the properties or data of the dataset.
#Examples: df.shape, df.columns, df.index.
#method: always doing operations or calculations of data from the dataset.
#Examples: df.head(), df.describe(), df.sort_values(by='Age').

In [ ]:
#Post-lecture HW

In [ ]:
#Definitions of each of the summary statistics in df.describe():
#count: The number of values in a column and the values are all not empty (no value miss).
#mean: The arithmetic average of the values in the column.(Take average)
#standard Deviation(std): It represents the spread out of the values from the mean of the values. More spread out, more standard deviation.
#min: The smallest value in the column.
#25%: It represents the lower quartile of the data.
#50%: It represents the median (the middle value of the column of the data) of the data.
#75%: It represents the upper quartile of the data.
#max: The largest value in the column.

In [6]:
#New dataset for Question 1
import pandas as pd

data = {
    'Name': ['Linda', 'Charlie', 'Katherine', 'Hermione'],
    'Height': [166, 175, 155, None],
    'Hobby': ['Singing', 'Singing', 'None', 'Reading']
}

df = pd.DataFrame(data)
print(df)

        Name  height    Hobby
0      Linda   166.0  Singing
1    Charlie   175.0  Singing
2  Katherine   155.0     None
3   Hermione     NaN  Reading

In [5]:
#df_cleaned = df.drop(columns=['height'])
#Using df.dropna() might be peferred over using del df['col']
#Reasons: To retain important columns with valuable data, but need to ensure the rows with missing values in critical columns are removed.
#Why not use del df['col']: May eliminate the primary data which are needed for the analysis of height of people.

In [19]:
#df_cleaned = df.drop(columns=['Height'])
#Using del df['col'] might be preferred over using df.dropna().
#Reasons: The column has too many missing values will be used frequently, so it can precisely remove columns that have excessive missing values without affecting other data.
#Why not use df.dropna(): Rows with any missing values are removed. This might lead to losing too much data if multiple features have missing values.

In [ ]:
#Discuss why applying del df['col'] before df.dropna() when both are used together could be important.
#1: Reduce the complexity of a large dataset as del df['col'] can remove irrelevant or excessive Column first.
#2: Reduce the Computational Load and develop the efficiency to deal with a large dataset.(leading to faster execution of df.dropna())

In [7]:
#New dataset for Question 2
import pandas as pd
import numpy as np

data = {
    'Name': ['Linda', 'Charlie', 'Katherine', 'Hermione', np.nan, 'Mary', np.nan],
    'Height': [166, np.nan, np.nan, np.nan, np.nan, 165, np.nan],
    'Hobby': ['Singing', 'Singing', np.nan, 'Reading', 'Running', np.nan, 'Swimming']
}

df = pd.DataFrame(data)
print(df)

        Name  Height     Hobby
0      Linda   166.0   Singing
1    Charlie     NaN   Singing
2  Katherine     NaN       NaN
3   Hermione     NaN   Reading
4        NaN     NaN   Running
5       Mary   165.0       NaN
6        NaN     NaN  Swimming

In [8]:
print(df.columns)

Index(['Name', 'Height', 'Hobby'], dtype='object')

In [9]:
df = df.drop(columns=['Height'])

df_cleaned = df.dropna()

In [10]:
print(df.columns)

Index(['Name', 'Hobby'], dtype='object')

In [ ]:
#Explaination: I use del df['col'] as the column for Height has almost no valuable data and it has many missing data, so remove this column directly is better.

In [2]:
#Question 8
import pandas as pd

df=pd.DataFrame({
    'col1': ['male', 'female', 'female', 'female', 'male', 'male'],
    'col2': [22, 38, 26, 35, 35, 54]
})

result = df.groupby("col1")["col2"].describe()
print(result)

        count  mean        std   min   25%   50%   75%   max
col1
female    3.0  33.0   6.244998  26.0  30.5  35.0  36.5  38.0
male      3.0  37.0  16.093477  22.0  28.5  35.0  44.5  54.0

In [ ]:
#Difference between the calculations in df.describe() and df.groupby("col1")["col2"].describe().
#The count value from them captures different aspects of data.
#For df.describe: Its count will not contain the missing value.
#For df.groupby("col1")["col2"].describe(): Its count will contain the missing value.

In [ ]:
#A: Easier to check in chatGPT as it can just show me a code for an example and with the start at import pandas as pd and it will show me the error: NameError.
#B: Easier to check in chatGPT as it can not only tell me the error, but also tell me how to avoid such errors next time like double check.
#C: Easier to check in chatGPT as it can find out the undefined variables of the Dataframe and it tells me to rename the name of the variable which I type wrong.
#D: Easier to check in chatGPT as it can check the SyntaxError and tells me the error is happened in the missing of parentheses.
#E: Easier to check in chatGPT as it can give some relevant examples for mistyped function name and I can try these mistype example to test the error.
#F: Easier to check in chatGPT as it can show me many other examples and I will find such error:KeyError, and it tells me to change to lowercase.
#G: The error can be checked in chatGPT and it shows me the correct use of quotes around column name.

In [ ]:
#Question 9
#Yes